.vscode/**
.github/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
CONTRIBUTING.md
LOCAL.md
ROADMAP.md
.travis.yml
node_modules/**
client/testFixture
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
server/node_modules/**
server/tests/
!server/node_modules/@stylexjs/**
!server/node_modules/@swc/**
!server/node_modules/vscode*/**
!server/node_modules/prettier/**
!assets/**
*.vsix
scripts/
cdn/
sandbox/
tsup.config.ts
.prettierrc
.eslintignore
.eslintrc.js
